@use './variables.scss' as var;
@use './mixins.scss' as mix;

.footer {
  border-top: 1px solid var.$accent-color;
  box-shadow: var.$box-shadow;
  background-color: var.$light-grey;

  &__container {
    height: 100px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  .social {
    display: flex;
    align-items: center;
    gap: 15px;

    &__github,
    &__linkedin {
      display: flex;
      align-items: center;
      transition: var.$transition;
      cursor: pointer;

      a {
        display: flex;
        align-items: center;
        font-size: 22px;
        text-decoration: none;
      }

      svg {
        fill: var.$main-color;
        transition: fill var.$transition;
      }

      @media (width <= 768px) {
        &.hidden-on-mobile {
          display: none;
        }
      }
    }
  }

  .social__github.hidden-on-mobile a {
    position: relative;

    &::after {
      @include mix.after-underline;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .social__github:hover svg,
  .social__linkedin:hover svg {
    fill: var.$accent-color;
  }

  .social__github:hover {
    color: var.$accent-color;
  }

  .social__github.hidden-on-mobile a:hover::after {
    transform: scaleX(1);
  }
}
