@use './mixins.scss' as mix;
@use './variables.scss' as var;

.mentors,
.best-mentors {
  &__container {
    gap: 20px;

    @media screen and (width <= 1000px) {
      flex-direction: column;
    }
  }

  h2 {
    text-align: center;

    @include mix.title;
  }

  .mentor__card {
    flex: 1 1 50%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: var.$box-shadow;

    h3,
    h4 {
      margin-bottom: 5px;
    }

    figure {
      display: flex;
      gap: 20px;
      width: 100%;

      @media screen and (width <= 550px) {
        flex-direction: column;
      }

      .ratio-box {
        flex: 1 1 40%;

        img {
          border-radius: 10px;
          box-shadow: var.$box-shadow;
          height: 100%;
          aspect-ratio: 1 / 1;
          object-fit: cover;
        }
      }

      figcaption {
        flex: 1 1 60%;
      }
    }
  }
}
