@use './mixins' as mix;

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;

  &__button {
    font-size: 18px;
    font-weight: bold;
    width: 40px;
    height: 40px;

    @include mix.round-buttons;

    &:disabled {
      @include mix.btn-disabled;
    }

    &.pagination__counter {
      pointer-events: none;
    }
  }
}

.pagination.disabled {
  @include mix.btn-disabled;
}
