@use './mixins.scss' as mix;

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*='__container'] {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mix.container;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  min-width: 300px;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
}

ul li a {
  display: block;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  position: relative;
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
