@use './variables.scss' as var;
@use 'sass:color';

@mixin container {
  & {
    max-width: 1600px;
    padding: 50px 20px;
    margin: 0 auto;
  }

  @media screen and (width <= 550px) {
    padding: 20px 10px;
  }
}

%base-button {
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: var.$transition;
}

%button-hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: var.$box-shadow;
    }
  }
}

@mixin base-button {
  @extend %base-button;
}

@mixin button-styles($bg-color) {
  & {
    @extend %base-button;
    @extend %button-hover;

    width: 120px;
    padding: 12px;
    border-radius: 5px;
    background-color: $bg-color;
    color: var.$white;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: color.adjust($bg-color, $lightness: -5%);
    }
  }
}

@mixin round-buttons($bg-color: var.$default-bg) {
  & {
    @extend %base-button;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 2px solid var.$accent-color;
    color: var.$accent-color;
    background-color: $bg-color;
  }

  @media screen and (width <= 550px) {
    width: 40px;
    height: 40px;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var.$medium-grey;
      border-color: var.$medium-grey;
      color: var.$light-grey;
    }
  }
}

@mixin border-shadow {
  border-radius: 5px;
  border: 1px solid var.$accent-color;
  box-shadow: var.$box-shadow;
}

@mixin hidden {
  & {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: var.$transition;
  }
}

@mixin visible {
  & {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin title {
  & {
    font-size: 68px;
    font-weight: 700;
    line-height: 125%;
    margin-bottom: 50px;

    span {
      color: var.$accent-color;
      font-style: italic;
    }
  }

  @media screen and (width <= 550px) {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

@mixin btn-disabled {
  opacity: 0.3;
  pointer-events: none;
}

@mixin after-underline {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  height: 2px;
  background-color: var.$accent-color;
  transition: var.$transition;
}

@mixin clip-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

@mixin course-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
